{% extends "main/layout.html" %}

{% block title %}
    Пройдите опрос
{% endblock %}

{% block main %}
    <h1>{{ header }}</h1>
    {% if choices %}
    <div class="container-sm">
        <form action="/treat_answer" method="post">
        {% csrf_token %}
        {% for choice in choices %}           

            <input type="radio" class="btn-check" name="options-base" id="option{{ loop.index }}" value="{{ loop.index }}" autocomplete="off">
            {% if choice.description %}<p>{{ choice.description }}</p>{% endif %}
            <label class="btn" for="option{{ loop.index }}">{{ choice.text }}</label>
            
        {% endfor %}
        <button class="btn btn-primary" type="submit">Начать опрос</button>
        </form>
    </div>
    {% endif %}  

{% endblock %}