{% extends "main/layout.html" %}

{% block title %}
    Пройдите опрос
{% endblock %}

{% block main %}
    <div class="container">
        <h3>{{ header}}</h3>
    </div>
    {% if surveys %}
    <div class="mb-3">
        <form action="/survey" class="form-group" method="post">
        {% csrf_token %}
        {% for survey in surveys %}           

            <input type="radio" class="btn-check" name="survey" id="option{{ forloop.counter }}" value="{{ survey.id }}" autocomplete="off">
            <label class="btn d-block" for="option{{ forloop.counter }}">
                {{ survey.text }} 
                {% if survey.description %}<p><sub>{{ survey.description }}</sub></p>{% endif %}
            </label>
            
        {% endfor %}
        <button class="btn btn-primary" type="submit">Начать опрос</button>
        </form>
    </div>
    {% endif %}  

{% endblock %}