{% extends "main/layout.html" %}

{% block title %}
    Пройдите опрос
{% endblock %}

{% block main %}
    <h1>{{ header }}</h1>
    {% if choices %}
    <div class="mb-3">
        <form action="/survey" class="form-group" method="post">
        {% csrf_token %}
        {% for choice in choices %}           

            <input type="radio" class="btn-check" name="options-base" id="option{{ loop.index }}" value="{{ loop.index }}" autocomplete="off">
            <label class="btn d-block" for="option{{ loop.index }}">
                {{ choice.text }} 
                {% if choice.description %}<p><sub>{{ choice.description }}</sub></p>{% endif %}
            </label>
            
        {% endfor %}
        <button class="btn btn-primary" type="submit">Начать опрос</button>
        </form>
    </div>
    {% endif %}  

{% endblock %}