<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
          var msg = document.getElementById('msg');
          if (msg){
              setTimeout(function () {msg.setAttribute('hidden','')}, 3000);
          };
      });
  </script>
  </head>
<body>


  <nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="fs-4">Опросник</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/stats">Статистика</a></li>
            </ul>
        </div>
      </div>  
  </nav>
  
{% if messages %}
  <div class="justify-content-center fixed-top row text-center">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} col-3" id="msg" role="alert">
      {{ message | safe }}
  </div>
  {% endfor %}
  </div>
{% endif %}

  <main class="container py-3 text-center">
    {% block main %}{% endblock %}
  </main>

  <div class="container border-top">
      <footer class="py-3 my-4 ">
        <p class="text-center text-body-secondary">© 2024 Potapov D.A.</p>
      </footer>
  </div>
</body>
</html>