{% extends "main/layout.html" %}

{% block title %}
    Пройдите опрос
{% endblock %}

{% block main %}
{% if header and question and choices %}
    <h3>{{ header.text }}</h3>
    <h4>{{ header.description }}</h4>
    <div class="mb-3">
            <h5>{{ question.text }}</h5>
            {% if question.description %}<h6>{{ question.description }}</h6>{% endif %}

        <form action="/questions" class="form-group" method="post">
        {% csrf_token %}
        
        {% for choice in choices %}           
            <input type="radio" class="btn-check" name="choice" id="option{{ forloop.counter }}" value="{{ choice.question.id }}_{{ choice.id }}" autocomplete="off">
            <label class="btn d-block" for="option{{ forloop.counter }}">
                {{ choice.text }} 
                {% if choice.description %}<p><sub>{{ choice.description }}</sub></p>{% endif %}
            </label>
            
        {% endfor %}
        <button class="btn btn-primary" type="submit">Ответить</button>
        </form>
    </div>
{% else %}
    <h3>Ошибка при получении данных с сервера</h3>
{% endif %}
{% endblock %}