{% extends "main/layout.html" %}
{% load mathfilters %}

{% block title %}
    Результаты опроcов
{% endblock %}

{% block main %}
    {% if stats %}
    <div class="container">
        {% for survey in stats %}
        <div class="container">
            <h3>Результаты опроса {{ survey.title }}:</h3>
            <p>Респондентов приняло участие: {{ survey.respondent_count }}</p>
            {% if survey.questions %}
            <div class="container text-center table">
                <div class="row">
                  <div class="col">
                    Рейтинг
                  </div>
                  <div class="col">
                    Вопрос
                  </div>
                  <div class="col">
                    Количество полученных ответов
                  </div>
                  <div class="col">
                    Доля респондентов
                  </div>
                </div>
                {% for question in survey.questions %}
                <div class="row">
                    <div class="col">{{ question.3 }}</div>
                    <div class="col">{{ question.1 }}</div>
                    <div class="col">{{ question.2 }}</div>
                    <div class="col">{{ question.2|div:survey.respondent_count|mul:100 }}%</div>
                </div>
                {% endfor %}
              </div>               

            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}

    <h3>Ошибка при получении данных с сервера</h3>

    {% endif %}


 

{% endblock %}