{% extends "main/layout.html" %}

{% block title %}
    Результаты опроcов
{% endblock %}

{% block main %}
    {% if stats %}
    <div class="container">
        {% for survey in stats %}
        <div class="container gy-5">
            <div class="container">
                <h3>Результаты опроса "{{ survey.title }}"</h3>
                <p>Респондентов приняло участие: {{ survey.respondent_count }}</p>
            </div>
            {% if survey.questions %}
            <div class="container text-center table">
                <div class="row border">
                  <div class="col">
                    Рейтинг
                  </div>
                  <div class="col">
                    Вопрос / варианты ответов
                  </div>
                  <div class="col">
                    Количество полученных ответов
                  </div>
                  <div class="col">
                    Доля респондентов
                  </div>
                </div>
                {% for question in survey.questions %}
                <div class="row border">
                    <div class="col">{{ question.position }}</div>
                    <div class="col">{{ question.text }}</div>
                    <div class="col">{{ question.record_count }}</div>
                    <div class="col">{{ question.rate|floatformat:1 }}%</div>
                    {% for choice in question.choices %}
                    <div class="row">
                        <div class="col">&nbsp</div>
                        <div class="col">{{ choice.text }}</div>
                        <div class="col">{{ choice.choice_count }}</div>
                        <div class="col">{{ choice.rate|floatformat:1 }}%</div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
              </div>               

            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}

    <h3>Ошибка при получении данных с сервера</h3>

    {% endif %}


 

{% endblock %}