{% extends "main/layout.html" %}
{% load mathfilters %}

{% block title %}
    Результаты опроcов
{% endblock %}

{% block main %}
    {% if stats %}
    <div class="container">
        {% for survey in stats %}
        <div class="container">
            <h3>Результаты опроса {{ survey.title }}:</h3>
            <p>Респондентов приняло участие: {{ survey.respondent_count }}</p>
            {% if survey.questions %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Рейтинг</th>
                    <th scope="col">Вопрос</th>
                    <th scope="col">Количество полученных ответов</th>
                    <th scope="col">Доля респондентов</th>
                  </tr>
                </thead>
                <tbody class="table-hover">
                    {% for question in survey.questions %}
                    <tr>
                      <th scope="row">{{ question.3 }}</th>
                      <td>{{ question.1 }}</td>
                      <td>{{ question.2 }}</td>
                      <td>{{ question.2|div:survey.respondent_count|mul:100 }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>         

            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}

    <h3>Ошибка при получении данных с сервера</h3>

    {% endif %}


 

{% endblock %}